body {
  font-family: 'Montserrat-Black', sans-serif;
}
#title {
  background-color: #ff4c68;
}

.collapse {
  text-align: left;
}

.container-fluid {
  padding: 1% 10% 1% 10%;
}

.pat {
  padding-left: 0;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.5;
  color: white;
}

h2 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 7%;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
  text-align: center;
}

#navbarNav {
  /* margin: 0 0 0 40%; */
  text-align: center;

}

.navbar-nav {
  margin-left: 50%;
  /* width: 40%;
  margin-right: 50%; */
}
ul {
  padding: 0 5%;
}

li {
  padding: 0 5%;
}

.row {
  margin-top: 50px;
}

.row button {
  margin: 9% 1%;
}

.row h1 {
  text-align: left;
  padding: 0 70px;
}

#tu {
  transform: rotate(15deg);
  width: 220px;
}

.puff {
  padding-right: 15%;
}


/* Second Sectio */

#features {
  padding: 7% 10%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.call {
  padding: 5%;
}

.row {
  text-align: center;
}

.fas {
  margin-bottom: 10px;
  color: #ff4c68;
}

.fas:hover {
  color: #ef8172;
}


/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

#testimonials img {
  width: 10%;
  border-radius: 100%;
  margin: 5%;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 30px;
  text-align: center;
}

#press img {
  width: 10%;
  margin: 3%;
}

.carousel-item {
  padding: 7% 10%;
}


/* card */

.card {
  width: 300px;
  margin: auto;
  margin-top: 0;
}

#pricing {
  padding: 100px;
  text-align: center;
}


/* Bottom section */

#cta {
  background-color: #ff4c68;
  font-family: 'Montserrat-Black', sans-serif;
  color: white;
  text-align: center;
  padding: 10% 10%;
}

#cta h3 {
  font-weight: bolder;
  font-size: 2.5rem;
  width: 80%;
  margin: auto;
  padding-bottom: 5%;
}

.cat {
  margin: 2% 1%;
}


/* footer */

footer {
  background-color: white;
  text-align: center;
  padding: 5%;
}

footer i {
  margin: 0.5% 0.5%;
  color: black;
}


/* Extra responsive */
@media (max-width: 991px) {
  .row h1 {
    text-align: center;
  }

  #tu {
    transform: rotate(0);
  }

  .puff {
    padding: 0;
    text-align: center;
    margin: 5% 0;
  }
}

@media (max-width: 792px) {
  .jol {
    margin-top: 30px;
  }
}

@media (max-width: 1092px) {
  .pol {
    margin-top: 30px;
  }
}
